<input type="text"[(ngModel)]="title">
{{ title}}

<input type="text"[(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="title === 'Pedro'">

  Esto es un div

</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Shirt'">You selected a Shirt</p>
  <p *ngSwitchCase="'Hoodie'">You selected a Hoodie</p>
  <p *ngSwitchCase="'mug'">You selected a mug</p>
  <p *ngSwitchCase="'pin'">You selected a pin</p>
  <p *ngSwitchCase="'sticker 1'">You selected sticker 1</p>
  <p *ngSwitchCase="'sticker 2'">You selected sticker 2</p>
  <p *ngSwitchDefault>No valid selection</p>
</div>


<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">Empty List</li>
  <li *ngFor="let name of items; index as i">
      {{ name }} {{ i }}
      <button (click)="deleteItem(i)">Delete</button>
  </li>

</ul>

<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    (prductClicked)="clickProduct($event)"
    [product]="product">
  </app-product>
</div>